nav{
    margin: o auto;
    padding: 0.1%;
    margin-right: 0;
  }
  nav>ul{
    text-align: right;
  }
  ul>li{
    display: inline-block;
  }
  ul>li>a{
    text-transform: uppercase;
    padding: 0.1%;
    text-decoration: none;
    color: blue;
  }
  ul>li>a:hover{
    box-shadow: 0 0 0 0.625em rgba(0, 0, 0 , 0.1), insert 0 0 0.625em rgba(255, 255, 255, 0.6);
    background-color: rgba(107, 93, 84, 0.678);
    color: rgba(0, 35, 122, 0.7)
  }
  body{
      background-image: url("http://www.alawiboutiquehotel.com/images/carosello/slide5.jpg");
  }
  #contact{
      float: center;
      text-align: center;
      text-transform: none;
      color: hsl(192, 100%, 50%);
  }
  #booking{
      text-decoration: cyan;
      padding: 0.2%;
      
  }
  #booking>img{
      height: 200px;
      position: relative;
      border: 3px solid green;
  }
  #booking>h2{
    color: lawngreen;
  }
  #about{
      padding-bottom: inherit;
      float: center;
      text-decoration: darkgreen;
      text-transform: none;
      
}
#about>h2{
    color: darkgreen;
}